.navbar{
    width: 100%;
    background-color: #FF6347;
    padding: 15px 10px;
    text-align: left;
}

.navbarMenu{
    color: white;
    font-weight: 600;
    margin: 10px;
    text-decoration: none;
}